// Place all the styles related to the dash_board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.average {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}